.topiclist-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  .image {
    width: 28px;
    height: 28px;
  }
  .left {
    margin-left: 10px;
  }
  .right {
    margin-right: 10px;
  }
}
