.topiclist-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100rpx;
  align-items: center;
  .image {
    width: 65rpx;
    height: 65rpx;
  }
  .left {
    margin-left: 20rpx;
  }
  .right {
    margin-right: 20rpx;
  }
}
